body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#hello-world {
    color: white;
    font-size: 36px;
    text-align: center;
}
